<div class="row bookRow" data-book="">
  <div class="col-sm-2">
    <a {{bind-attr href='this.url'}} target='_blank'>
      <img {{bind-attr src='this.image'}} />
    </a>
    <div class="col-sm-8">
    <p class="rating">{{ this.rating }}/5</p>
    </div>
  </div>
  <div class="col-sm-8">
    <h3>{{#link-to 'book' this}}{{ this.title }}{{/link-to}}</h3>
    <p><i>Written by {{ this.author }}</i></p>
    <p>{{ this.description }}</p>
    <p><i>{{!-- <%= link_to "Delete Book", book, method: :delete, remote: true %> --}}</i></p>
   <span class="btn btn-primary btn-xs" style="margin-bottom: 1em">{{ this.genre.name }}</span>
  </div>
</div>